doctype html
html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    title Add customer
  body
    div.container
      h1 New customer
      form(action='/addcustomer', method='POST')
        div.form-group
          input(type="text", name="firstname", placeholder="Firstname").form-control.form-text
        div.form-group
          input(type="text", name="lastname", placeholder="Lastname").form-control
        div.form-group
          input(type="text", name="email", placeholder="E-mail").form-control
        div.form-group
            input(type="text", name="phone", placeholder="Phone number").form-control
        div.form-group
          input(type="submit", value="Add").btn.btn-primary
